.el-submenu .el-menu-item {
  font-size: 12px;
  padding-left: 50px !important;
  &.is-active {
    background: linear-gradient(
      to right,
      rgba(17, 150, 107, 0.2),
      rgba(17, 150, 107, 0)
    ) !important;
    // background: #11966b !important;
    border-left: 6px solid $maincolor;
  }
}
.el-menu {
  border-right: 0;
}
/* 修改一级菜单样式 */
li.el-submenu {
  &.is-active.is-opened .el-submenu__title {
    // background: linear-gradient(
    //   to right,
    //   rgba(17, 150, 107, 0.2),
    //   rgba(17, 150, 107, 0)
    // ) !important;
    background: rgba(0, 0, 0, 0.2) !important;
    // border-left: 6px solid #11966b;
  }
}

.el-badge__content.is-fixed {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  right: 13px;
  transform: translateY(-50%) translateX(100%);
}
.el-badge {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  display: flex;
  align-items: center;
}
.el-badge__content {
  background-color: #f56c6c;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 2px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
}
.close {
  .el-submenu {
    &.is-opened {
      > .el-submenu__title {
        background: $maincolor !important;
      }
    }
  }
}
.el-menu--vertical {
  .el-menu {
    background: $maincolor !important;
  }
  .el-menu-item {
    line-height: 56px;
  }
  .el-menu-item:hover {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

/* dialog样式 */
.el-dialog {
  width: 40%;
  margin: 0 auto;
  border-radius: 7px;
  // margin-top: 40vh !important;
  // position: absolute;
  // transform: translate(-50%, -50%);
  // top: 0;
  // left: 0;
  .el-dialog__header {
    background: $navcolor;
    padding: 10px 20px 10px;
    position: relative;
    border-radius: 7px 7px 0 0;
    .el-dialog__title {
      color: #fff !important;
      font-size: 15px;
    }
    .el-dialog__headerbtn {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
  .el-dialog__body {
    padding: 10px 20px;
  }
}

/* element开关样式 */
.el-switch__label--left {
  position: relative;
  left: 46px;
  color: #fff;
  z-index: -1111;
}
.el-switch__label--right {
  position: relative;
  right: 46px;
  color: #fff;
  z-index: -1111;
}
.el-switch__label.is-active {
  z-index: 1111;
  color: #fff;
}

.el-switch__label--left {
  position: relative;
  left: 46px;
  color: #fff;
  z-index: -1111;
}
.el-switch__label--right {
  position: relative;
  right: 46px;
  color: #fff;
  z-index: -1111;
}
.el-switch__label--right.is-active {
  z-index: 1111;
  color: #fff !important;
}
.el-switch__label--left.is-active {
  z-index: 1111;
  color: #9c9c9c !important;
}

.el-table th,
.el-table td {
  text-align: center;
  .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*可以显示的行数，超出部分用...表示 */
    -webkit-box-orient: vertical;
  }
}
