@font-face {
  font-family: 'iconfont';  /* project id 1811705 */
  src: url('//at.alicdn.com/t/font_1811705_27x202hx1ao.eot');
  src: url('//at.alicdn.com/t/font_1811705_27x202hx1ao.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1811705_27x202hx1ao.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1811705_27x202hx1ao.woff') format('woff'),
  url('//at.alicdn.com/t/font_1811705_27x202hx1ao.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1811705_27x202hx1ao.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bingbao:before {
  font-size: 59px;
  content: "\e611";
}

.lei:before {
  font-size: 59px;
  content: "\e612";
}

.xue:before {
  font-size: 59px;
  content: "\e613";
}

.yu:before {
  font-size: 59px;
  content: "\e614";
}

.yintian:before {
  font-size: 59px;
  content: "\e615";
}

.qing:before {
  font-size: 59px;
  content: "\e616";
}

.shachen:before {
  font-size: 59px;
  content: "\e617";
}

.yun:before {
  content: "\e618";
  font-size: 59px;
}

.wu:before {
  font-size: 59px;
  content: "\e619";
}

.iconpeizhiqianduanshebeipeizhi:before {
  content: "\e66c";
}

.iconnongjinongju:before {
  content: "\e65b";
}

.iconqiya:before {
  content: "\e609";
}

.iconshipin:before {
  content: "\e645";
}

.iconpeizhi1:before {
  content: "\e64d";
}

.iconyujing1:before {
  content: "\e608";
}

.iconjianceshuju1:before {
  content: "\e6c5";
}

.iconshousuo:before {
  content: "\e659";
}

.icondizhi:before {
  content: "\e800";
}

.iconwenben:before {
  content: "\e620";
}

.iconjiangshuiliang:before {
  content: "\e95a";
}

.iconfengsu1:before {
  content: "\e6f7";
}

.iconjianceshuju:before {
  content: "\e666";
}

.iconyonghu:before {
  content: "\e72c";
}

.iconturangshidu:before {
  content: "\e605";
}

.iconturangwendu:before {
  content: "\e61b";
}

.iconfengsu:before {
  content: "\e92b";
}

.iconzhuanjia:before {
  content: "\e607";
}

.iconpeizhi:before {
  content: "\e603";
}

.iconshidu:before {
  content: "\e63e";
}

.iconyunliang:before {
  content: "\e6ee";
}

.iconziwaixian:before {
  content: "\e604";
}

.iconnengjiandu:before {
  content: "\e6a9";
}

.iconkongzhi:before {
  content: "\e606";
}

.iconyujing:before {
  content: "\e60b";
}

.iconguangzhaoqiangdu:before {
  content: "\e767";
}

.iconjiankong:before {
  content: "\e669";
}

.iconzhiwu:before {
  content: "\e600";
}

.iconkongqiwendu:before {
  content: "\e602";
}

.iconditu:before {
  content: "\e631";
}

.iconkongqi:before {
  content: "\e77b";
}

.iconkongqishidu:before {
  content: "\e70d";
}

.iconshanchu:before {
  content: "\e62e";
}

.iconchakan:before {
  content: "\e60a";
}

.iconturanghuanjing:before {
  content: "\e957";
}

.iconxiugai:before {
  content: "\e601";
}

.iconchongqingjiance-jian:before {
  content: "\e776";
}

